         			<!-- Tags -->
			<div class="mb-4">
				<span class="taglist">
				{% for tag in page.tags %}
				  <a class="sscroll btn btn-light btn-sm font-weight-bold" href="{{site.baseurl}}/tags.html#{{ tag | downcase }}">{{ tag | downcase }}</a>
				{% endfor %}
				</span>
			</div>
         
         <!-- Author Box -->
             {% if page.author %}				
             <div class="row mt-5">
                 <div class="col-md-2 align-self-center">
                      {% if author.avatar %}
                     <img class="rounded-circle" src="{{site.baseurl}}/{{author.avatar}}" alt="{{author.name}}" width="90"/>
                     {% endif %} 
                 </div>
                 <div class="col-md-10">		
                     <h5 class="font-weight-bold">Автор {{ author.name }}</h5>
                     {{ author.bio }}					
                 </div>
             </div>				
             {% endif %}
         
         <!-- Comments -->
         {% if page.comments != false %}
             {% include comments.html %}
         {% endif %}