<div class="mb-5 justify-content-between main-loop-card">
	{% if post.image %}
	<a href="{{site.baseurl}}{{post.url}}">
		<div class="w-100 p-5 d-md-block grayscale" style="background-size:cover;background-position: 0% 40%;background-image:url({% if post.image contains "://" %}{{ post.image }}{% else %}{{ site.baseurl }}/{{ post.image }}{% endif %});">	
		</div>
	</a>
{% endif %}
<div class="pr-3 mt-3">
	<h2 class="mb-1">
	<a class="text-dark" href="{{site.baseurl}}{{post.url}}">{{ post.title }}</a>
	</h2>
	<p class="excerpt">
	   {{ post.excerpt  | strip_html | strip_newlines | truncate: 186}}
	</p>
	<small class="text-muted">
		{{ post.date | date: '%b %d, %Y' }}
	</small>
</div>
</div>