<div class="sticky-top sticky-top-offset">
    <h4 class="font-weight-bold spanborder"><span>Featured</span></h4>  
    <ol class="list-featured">	
        
<subscribe-c2a class="ag-block">
    <div class="h4">Рассылка «Минутки»</div>
    <form class="subscribe-form js-subscribe-form">
  <wpm-input required="" type="email" name="email" placeholder="Email" class="wpm-field wpm-input"><wpm-input-field><input id="email" required="" type="email" name="email" placeholder="Email"></wpm-input-field></wpm-input>
  <wpm-button submit="" primary="" label="Подписаться" class="wpm-button is-initialized text-dark" solid=""><span class="wpm-button__text"><span class="wpm-button__label"> Подписаться</span>
  </span><span class="wpm-button__backdrop absolute-link" style="color: white; opacity: 0.2;"></span><button type="submit" class="absolute-link"></button><span class="absolute-link wpm-button__ripple" style="color: white; opacity: 0.2;"></span></wpm-button>
  <input type="hidden" id="subscribe-security" name="subscribe-security" value="2cedfb8613"><input type="hidden" name="_wp_http_referer" value="/"><input type="hidden" name="action" value="ajaxSubscribe">
  </form>
  </subscribe-c2a>

        <thetruestory-widget-top edition="ru" stories="5" variant="naked" category="politics"></thetruestory-widget-top>
    </ol>
</div> 
