<div class="sticky-top sticky-top-offset">
    <h4 class="font-weight-bold spanborder"><span>Рассылка «Минутки»</span></h4>  
    <ol class="list-featured">	
        

  <div class="col-auto bg-lightblue m-5">
    <subscribe class="p-5">
      <input type="password" class="form-control" id="inputPassword2" placeholder="E-mail">
      <button type="submit" class="btn-lg btn-primary">Подписаться</button>
    </subscribe>
  </div>

        <thetruestory-widget-top edition="ru" stories="5" variant="naked" category="politics"></thetruestory-widget-top>
    </ol>
</div> 
