<div class="sticky-top sticky-top-offset">
    <h4 class="font-weight-bold spanborder"><span>Рассылка «Минутки»</span></h4>  
    <ol class="list-featured">	
        

  <div class="col-auto text-bg-secondary">
    <label for="inputPassword2" class="visually-hidden">Password</label>
    <input type="password" class="form-control" id="inputPassword2" placeholder="Password">
  </div>

        <thetruestory-widget-top edition="ru" stories="5" variant="naked" category="politics"></thetruestory-widget-top>
    </ol>
</div> 
